* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbeccf;
  font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.task-group-title {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 15px;
}

.task-group-header {
    display: flex;
    justify-content: space-between;
}

.task-group-delete-btn {
    height: 20px;
    width: 20px;
}

.task-group-delete-btn:hover {
    cursor: pointer;
}

.task-group {
    min-width: 272px;
    max-width: 300px;
    height: fit-content;
    background: #fff1e1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px grey;
}

.tasks {
    list-style-type: none;
}

.task-item {
    padding: 10px;
    max-height: 80px;
    font-size: 12pt;
    background-color: rgba(148,165,131, 0.6);
    min-height: 50px;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow-y: auto;
}

.task-item:hover {
    cursor: grab;
}

.task-delete-btn {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.task-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-group-add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgba(193,160,141, 0.6);
    cursor: pointer;
}

.task-group-add-icon {
    margin-left: 8px;
    height: 28px;
    width: 28px;
}

.task-group-add-input {
    display: flex;
    flex-direction: column;
}

.task-group-add-text {
    margin-bottom: 15px;
    resize: none;
    min-height: 50px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    padding: 3px;
}

.text-group-add-btns-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0px 10px;
}

.task-group-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgba(255,46,9, 0.85);
    border: none;
    cursor: pointer;
}

.task-group-cancel img {
    height: 23px;
    width: 23px;
}